/* Custom properties */
:root{
     --primario: #C2185B;
     --secundario: #FFC107;
     --PrimarioOscuro: rgb(156, 10, 69);

     --fuentePrimaria: 'Arial', Helvetica, sans-serif;
     --fuenteSecundaria: 'Poppins', sans-serif;
}


html{
     box-sizing: border-box;
}
*, *:before, *:after{
      box-sizing: inherit;
}

body{
     background-color: var(--primario);
     font-family: var(--fuentePrimaria);
}
.contenedor {
     max-width: 1100px;
     margin: 0 auto;
}
.sombra {
     -webkit-box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.68);
     -moz-box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.68);
     box-shadow: 0px 7px 10px 2px rgba(0,0,0,0.68);
}

.bg-amarillo{
     background-color: var(--secundario);
}
h1, h2 {
     font-family: var(--fuenteSecundaria);
     text-align: center;
     margin: 0;
}
h1 {
     padding: 20px;
     color: white;
}
.contenedor-barra {
      background-color: var(--PrimarioOscuro);
}
/* Formulario */
form {
     padding: 3rem;
     margin-top: 2rem;
     border-radius: 20;
}
form legend {
     font-family: var(--fuenteSecundaria);
     font-size: 2rem;
     margin: 0 auto;
}
legend span {
     font-size: 1rem;
     margin-top: 1rem;
     margin-bottom: 2rem;
     clear: both;
     display: block;
}

@media(min-width:786px){
     .campos {
          display: flex;
          justify-content: space-between;
     }
     .campo {
          flex: 0 0 calc(33.3% - 1rem);
     }
}

.campo {
    padding: .5rem 0;
}
.campo label {
     font-size: 1.2rem;
}
.campo input[type="text"],
.campo input[type="tel"] {
     width: 100%;
     border: none;
     padding: .5rem;
     height: 3rem;
     margin-top: .5rem;
     font-size: 1.2rem;
     border-radius: 10px;
}
.enviar{
     display: flex;
     justify-content: flex-end;
}
.campo input[type="submit"] {
     background-color: var(--primario);
     border: none;
     color: white;
     padding: 1rem 4rem;
     text-transform: uppercase;
     font-size: 1.2rem;
     transition: background-color .5s ease-in-out;
     border-radius: 10px;
}
.campo input[type="submit"]:hover {
     cursor: pointer;
     background-color: var(--PrimarioOscuro);
     }

